aiohttp==1.1.5
async-timeout==1.1.0
beautifulsoup4==4.5.1
bs4==0.0.1
chardet==2.3.0
cssselect==1.0.0
cycler==0.10.0
GoogleScraper==0.2.1
lxml==3.6.4
matplotlib==1.5.3
multidict==2.1.2
nltk==3.2.1
numpy==1.11.2
PyMySQL==0.7.9
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
requests==2.12.1
selenium==3.0.1
six==1.10.0
SQLAlchemy==1.1.4
yarl==0.7.1
